<!DOCTYPE html>
<html lang="en">
<body>
    <% include ./partials/_header %>
      <p>Your smaller link: http://localhost:8080/u/<%= url.shortURL %></p>

  <p>Follow your link <a href="<%= url.longURL %>">HERE</a>.
  </p>




</body>
</html>